.example-view {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 180px);
  flex-direction: column;
}

.example-view.inline {
  flex-direction: row;
  flex-wrap: wrap;
}

.example-item {
  font-family: 'Baloo 2', cursive;
  font-weight: 600;
  color: #57AA4F;
  text-align: center;
  margin: 8px;
  transition: font-size 0.3s ease;
}

@media (max-width: 768px) {
  .example-view {
    height: calc(100vh - 140px);
  }
}